{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">toutes les espèces</h1>
    </div>
    <div class="row">
        <ul class="list">
            {% for beast in beasts %}
                <li><a href="/beast/details/{{ beast.id }}">{{ beast.id }}. {{ beast.name }}</a></li>
            {% else %}
                <li>rien à afficher</li>
            {% endfor %}
        </ul>
    </div>
    <nav class="row">
        <a href="/beast/add">ajouter une espèce</a>
        <a href="/planet/list">voir les personnages</a>
        <a href="/movie/list">voir les films</a>
    </nav>
{% endblock %}
