{% extends 'layout.html.twig' %}

{% block title %}Star Wars - Ajouter une Nouvelle Race ou Espèce{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-12">ajouter une nouvelle espèce</h1>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'Beast/_form.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/beast/list" class="float-left btn sentinel row-btn" >Retour</a>
        </div>
    </div>
{% endblock %}
