{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">les races et espèces</h1>
    </div>
    <nav class="row">
        <a href="/beast/add" class="btn sentinel" >ajouter une race ou une espèce</a>
    </nav>
    <div class="row detail">
        <ul class="list">
            {% for beast in beasts %}
                <li><a href="/beast/details/{{ beast.id }}">{{ beast.name }}</a></li>
            {% else %}
                <li>Rien à voir</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
