{% extends 'layout.html.twig' %}

{% block content %}
<div id="universe" class="row">
  <img src="/assets/images/starwars-logo.png" alt="Star Wars" class="logo-star-wars" />

  <p id="far-far-away" class="col-12 text-center">
    Il y a bien longtemps, dans une galaxie lointaine,<br> très lointaine...
  </p>

  <div id="board" class="col-12">
    <div id="board-content">

      <h3>Épisode I</h3>
      <h2>LA MENACE FANTÔME</h2>

      <p>La République Galactique est en
      pleine ébullition. La taxation
      des routes commerciales reliant
      les systèmes éloignés provoque
      la discorde.</p>

      <p>Pour régler la question, la
      cupide Fédération du Commerce
      et ses redoutables vaisseaux de
      guerre imposent un blocus à la
      petite planète Naboo.</p>

      <p>Face à ce dangereux engrenage,
      alors que le Congrès de la
      République s'enlise dans des
      débats sans fin, le Chancelier
      Suprême charge en secret deux
      Chevaliers Jedi, gardiens de la
      paix et de la justice dans la
      galaxie, de résoudre le conflit....</p>

      <h3>Épisode II</h3>
      <h2>L'ATTAQUE DES CLONES</h2>

      <p>L'agitation règne au Sénat
      Galactique. Des milliers de
      systèmes solaires ont annoncé
      leur intention de quitter la
      République.</p>

      <p>Confrontés à ce mouvement
      séparatiste mené par le
      mystérieux Comte Dooku, les
      chevaliers Jedi, en nombre
      limité, ont du mal à maintenir
      la paix et l'ordre dans la
      galaxie.</p>

      <p>La sénatrice Amidala,
      ancienne reine de Naboo,
      revient au Sénat Galactique
      participer à un vote crucial
      sur la création d'une ARMÉE
      DE LA RÉPUBLIQUE pour
      aider les Jedi débordés...</p>

      <h3>Épisode III</h3>
      <h2>LA REVANCHE DES SITH</h2>

      <p>C'est la guerre ! La République
      croule sous les attaques de
      l'impitoyable Sith, le Comte
      Dooku. Il y a des héros dans
      les deux camps. Le Mal est
      partout.</p>

      <p>Avec une audace stupéfiante,
      le Général Grievous, diabolique
      chef droïde, est entré dans
      la capitale pour enlever le
      Chancelier Palpatine, chef
      suprême du Sénat Galactique.</p>

      <p>Alors que l'Armée Séparatiste
      Droïde tente de quitter la
      capitale assiégée avec son
      précieux otage, deux Chevaliers
      Jedi mènent une mission
      désespérée pour secourir le
      chancelier captif....</p>

      <h3>Épisode IV</h3>
      <h2>UN NOUVEL ESPOIR</h2>

      <p>C'est une époque de guerre
      civile. À bord de vaisseaux
      spatiaux opérant à partir
      d'une base cachée, les
      Rebelles ont remporté
      leur première victoire sur
      le maléfique Empire
      Galactique.</p>

      <p>Au cours de la bataille,
      des espions Rebelles ont
      réussi à dérober les plans
      secrets de l'arme absolue
      de l'Empire : l'ÉTOILE DE
      LA MORT, une station
      spatiale blindée dotée d'un
      armement assez puissant
      pour annihiler une planète
      tout entière.</p>

      <p>Poursuivie par les sbires
      sinistres de l'Empire, la
      Princesse Leia file vers sa
      base dans son vaisseau
      cosmique, porteuse des
      plans volés à l'ennemi qui
      pourront sauver son
      peuple et restaurer la
      liberté dans la galaxie....</p>

      <h3>Épisode V</h3>
      <h2>L'EMPIRE CONTRE-ATTAQUE</h2>

      <p>Le temps du péril a commencé
      pour la rébellion. Malgré la
      destruction de l'Étoile de la
      Mort, l'armée impériale a
      chassé les rebelles de leur
      base cachée et les poursuit
      à travers la galaxie.</p>

      <p>Après avoir échappé à
      la redoutable escadrille
      cosmique de l'Empire, un
      groupe de résistants mené
      par Luke Skywalker a établi
      une nouvelle base secrète
      sur Hoth, la lointaine planète
      des glaces.</p>

      <p>Dark Vador, le maléfique,
      hanté par l'idée de retrouver
      le jeune Luke, lance des
      milliers de sondes téléguidées
      aux confins de l'espace....</p>

      <h3>Épisode VI</h3>
      <h2>LE RETOUR DU JEDI</h2>

      <p>Luke Skywalker est retourné
      parmi les siens sur la planète
      Tatooine pour tenter d'arracher
      son ami Han Solo aux griffes de
      l'ignoble bandit Jabba le Hutt.</p>

      <p>Luke ne peut pas savoir que
      l'EMPIRE GALACTIQUE a
      commencé à construire en secret
      une nouvelle station spatiale
      blindée bien plus puissante
      que la première et terrifiante
      Étoile de la Mort.</p>

      <p>Quand cette arme absolue
      sera achevée, ce sera la fin
      du petit groupe de résistants
      qui luttent pour ramener
      la liberté dans la galaxie....</p>

      <h3>Épisode VII</h3>
      <h2>LE RÉVEIL DE LA FORCE</h2>

      <p>Luke Skywalker a disparu.
      En son absence, le sinistre
      PREMIER ORDRE est né
      des cendres de l'Empire et
      cherche à éliminer Luke
      Skywalker, le dernier Jedi.</p>

      <p>Avec le soutien de la RÉPUBLIQUE,
      la générale Leia Organa
      mène la RÉSISTANCE et
      tente désespérément de
      retrouver son frère, Luke,
      pour obtenir son aide et
      restaurer la paix et la justice
      dans la galaxie.</p>

      <p>Leia a envoyé secrètement
      son pilote le plus audacieux
      en mission sur Jakku,
      où un vieil allié détient
      un indice permettant
      de localiser Luke....</p>

      <h3>Épisode VIII</h3>
      <h2>LES DERNIERS JEDI</h2>

      <p>Le PREMIER ORDRE règne.
      Après avoir décimé la pacifique
      République, le Suprême Leader Snoke
      déploie maintenant ses impitoyables
      légions pour prendre le contrôle
      militaire de la galaxie.</p>

      <p>Seule la générale Leia Organa
      et les chasseurs de la RÉSISTANCE
      s'opposent à la tyrannie naissante,
      convaincus que le Maître Jedi
      Luke Skywalker reviendra
      pour redonner une étincelle
      d'espoir au combat.</p>

      <p>Mais la Résistance s'est
      laissé surprendre. Tandis que
      le Premier Ordre fond sur
      la base rebelle, les courageux
      héros tentent une évasion
      désespérée....</p>

      <h3>Épisode IX</h3>
      <h2>L'ASCENSION DE SKYWALKER</h2>
      
      <p>Les morts parlent ! La galaxie
      a entendu un mystérieux
      communiqué, une menace
      de VENGEANCE de la
      sinistre voix du défunt
      EMPEREUR PALPATINE.</p>

      <p>La GÉNÉRALE LEIA ORGANA
      envoie des agents recueillir
      des renseignements, tandis
      que REY, le dernier espoir
      des Jedi, s'entraîne pour
      affronter le diabolique
      PREMIER ORDRE.</p>

      <p>Pendant ce temps, le
      Suprême Leader KYLO REN
      part à la recherche de
      l'Empereur fantôme, résolu
      à éliminer tout ce qui
      menace son pouvoir....</p>
    
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}
