/* fonts */
@font-face {
    font-family: starjedi;
    src: url("../font/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: starjout;
    src: url("../font/Starjout.f72f509a.ttf");
}

@font-face {
    font-family: biko;
    src: url("../font/Biko_Regular.7cf27339.otf");
}

/* color */
:root {
    --light: #FFF;
    --dark: #000;
    --jedi: #071EFF;
    --sith: #FF0000;
    --consular: #53A71C;
    --sentinel: #EDB800;
    --sentinel-transparent: rgba(237, 184, 0, 0.7) !important;
    --hope: #4BD6EE;
    --despair: #808080;
    --galaxy: rgba(255, 255, 255, 0.3);
    --shadow: Radial-gradient(closest-side, rgba(0, 0, 0, 0.75), 50%, transparent);
}

/* general */
* {
    margin:0;
    padding:0;
}

body {
    font-size: 12px;
    color: var(--light);
    letter-spacing: 1px;
    background-color: var(--dark);
    background-image: url("../images/stars.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: biko, Arial, Helvetica, sans-serif;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.main {
    min-height: 80vh;
    margin-top: 40px;
}

h1 {
    color: var(--sentinel);
    font-family: starjout;
    margin: 40px 0;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

h2, h3 {
    text-align: center;
    color: var(--sentinel);
    font-family: biko, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    margin: 25px 0 60px 0;
}

h3 {
    font-size: 40px;
    margin-top: 200px;
}

h5 {
    font-family: biko, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--dark);
    background-color: var(--sentinel-transparent);
    padding: 5px;
}

a {
    color: var(--sentinel);
    font-family: starjedi;
}

.main a {
    font-size: 0.8rem;
    font-weight: 300;
    transition: color .3s;
}

.main a:hover{ color:var(--sentinel); }

/* header and footer */
footer,
header {
    background-color: var(--sentinel);
    padding: 5px 20px;
    color: var(--dark);
    text-align: center;
}

header .dropdown-menu { background-color: var(--dark); }

header .dropdown-item { color: var(--sentinel); }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    font-family: starjedi;
}

/* Navbar */
.navbar { background-color: var(--sentinel); }

.navbar-brand img {
    background: var(--dark);
    border-radius: 5px;
}

.navbar-brand span { color: var(--dark); }

.navbar-dark .navbar-nav .nav-link {
    color: var(--dark);
    font-size: 16px;
    padding:10px;
    margin: 0 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--sentinel) !important;
    background-color: var(--dark);
}

.navbar-toggler-icon {
    background-color: var(--dark) !important;
}

/* home */
#universe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#far-far-away {
    position: absolute;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    -moz-animation: intro 6s ease-out 1s;
    -webkit-animation: intro 6s ease-out 1s;
    -o-animation: intro 6s ease-out 1s;
    -ms-animation: intro 6s ease-out 1s;
    color: var(--hope);
    font-weight: 400;
    font-size: 200%;
    opacity: 0;
    top: 40%;
}

#universe .logo-star-wars {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 40%;
    animation: logo 9s ease-out 9s;
    -moz-animation: logo 9s ease-out 9s;
    -webkit-animation: logo 9s ease-out 9s;
    -o-animation: logo 9s ease-out 9s;
    -ms-animation: logo 9s ease-out 9s;
    opacity: 0;
}

#board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 90em;
    width: 100%;
    bottom: 0;
    padding-right: 0 !important;
    padding-left:  0 !important;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
#board-content {
    animation: scroll 250s linear infinite 16s;
    -moz-animation: scroll 250s linear infinite 16s;
    -webkit-animation: scroll 250s linear infinite 16s;
    -o-animation: scroll 250s linear infinite 16s;
    -ms-animation: scroll 250s linear infinite 16s;
    position: absolute;
    top: 100%;
    width: 100%;
}

#board p {
    color: var(--sentinel);
    font-size: 20px;
    margin-bottom: 50px;
}

/* buttons */
.btn:hover {
    background-color: var(--dark);
}

.jedi {
    color: var(--jedi) !important;
    border-color: var(--jedi) !important;
}
.jedi:hover {
    color: var(--dark) !important;
    background-color: var(--jedi) !important;
    animation: jedi 2s infinite;
    -moz-animation: jedi 2s infinite;
    -webkit-animation: jedi 2s infinite;
    -o-animation: jedi 2s infinite;
    -ms-animation: jedi 2s infinite;
}

.sith {
    color: var(--sith) !important;
    border-color: var(--sith) !important;
}
.sith:hover {
    color: var(--dark) !important;
    background-color: var(--sith) !important;
    animation: sith 2s infinite;
    -moz-animation: sith 2s infinite;
    -webkit-animation: sith 2s infinite;
    -o-animation: sith 2s infinite;
    -ms-animation: sith 2s infinite;
}

.consular {
    color: var(--consular) !important;
    border-color: var(--consular) !important;
}
.consular:hover {
    color: var(--dark) !important;
    background-color: var(--consular) !important;
    animation: consular 2s infinite;
    -moz-animation: consular 2s infinite;
    -webkit-animation: consular 2s infinite;
    -o-animation: consular 2s infinite;
    -ms-animation: consular 2s infinite;
}

.sentinel {
    color: var(--light) !important;
    border-color: var(--sentinel) !important;
}
.sentinel:hover {
    color: var(--dark) !important;
    background-color: var(--sentinel) !important;
    animation: sentinel 2s infinite;
    -moz-animation: sentinel 2s infinite;
    -webkit-animation: sentinel 2s infinite;
    -o-animation: sentinel 2s infinite;
    -ms-animation: sentinel 2s infinite;
}

/* cards list */
.card-view {
    perspective: 1000px;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.card-view img {
    width: 280px;
    height: 240px;
    background: var(--sentinel);
}

.card-view a {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(70deg);
    -moz-transform: rotateX(70deg);
    -ms-transform: rotateX(70deg);
    -o-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.card-view a:hover {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}

.card-view a:hover::before {
    height: 65px;
    visibility: visible;
}

.card-view a::before {
    position: absolute;
    top: auto;
    bottom: -65px;
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    background: var(--shadow);
    filter: blur(18px);
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
    -moz-transform: scaleY(0.3);
    -ms-transform: scaleY(0.3);
    -o-transform: scaleY(0.3);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    content: "";
}

.card-view a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: var(--despair);
    border: 1px solid var(--sentinel);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    content: "";
}

/* forms */
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.invalid-feedback{
    display:block;
}

.btn,
.main input,
.main textarea,
.custom-select {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-top: 1px solid var(--sentinel);
    border-bottom: 1px solid var(--sentinel);
    background-color: transparent;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.main input[type="submit"] {
    text-transform: lowercase;
    font-family: starjedi;
    cursor: pointer;
}

.main .form-control {
    border-radius: 0;
}

.main .form-control:focus,
.main input:focus,
.main textarea:focus {
    color: var(--hope);
    background-color: transparent;
    padding: 5px 0 5px 5px;
    outline: none;
    border-top: 1px solid var(--hope);
    border-bottom: 1px solid var(--hope);
    box-shadow: none;
}

.main form label {
    color: var(--sentinel);
    font-family: starjedi;
}

.main .label-picture {
    font-family: inherit;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 5px;
    border: none;
    border-top: 1px solid var(--sentinel);
    background-color: var(--sentinel) !important;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    color: black;
    background-color: var(--dark);
    border-radius: 0;
    box-shadow: none;
    height: 33px;
}

.main #new-picture:hover {
    cursor: pointer;
}

.main nav {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .detail {
    padding: 2vw 1vw;
    background-color: var(--galaxy);
    border: 1px solid var(--sentinel);
    margin-bottom: 40px;
}

.title {
    color: var(--dark);
    background-color: var(--sentinel);
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

.wrapper-data .title,
.wrapper-data p {
    padding: 0 20px;
    text-align: justify;
}

.main .row-btn {
    margin-bottom: 60px;
}

.main .detail-row {
    display: flex;
    padding: 10px 0;
}

.main .detail-name {
    background-color: rgba(255, 255, 255, 0.1);
}

nav.row {
    background-color: var(--dark);
    padding: 8px;
}

/* Animations */
@keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
@-ms-keyframes intro {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-moz-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-webkit-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-o-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}
@-ms-keyframes logo {
    0% { width: 30%; transform: scale(2); opacity: 1; }
    50% { width: 30%; transform: scale(1);opacity: 1; }
    100% { width: 30%; transform: scale(0.1); opacity: 0; }
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-moz-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-webkit-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-o-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}
@-ms-keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}

@keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-moz-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-webkit-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-o-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}
@-ms-keyframes jedi {
	from { box-shadow: 0 0 20px var(--jedi); }
	50% { box-shadow: 0 0 60px var(--jedi); }
	to { box-shadow: 0 0 20px var(--jedi); }
}

@keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-moz-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-webkit-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-o-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}
@-ms-keyframes sith {
	from { box-shadow: 0 0 20px var(--sith); }
	50% { box-shadow: 0 0 60px var(--sith); }
	to { box-shadow: 0 0 20px var(--sith); }
}

@keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-moz-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-webkit-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-o-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}
@-ms-keyframes consular {
	from { box-shadow: 0 0 20px var(--consular); }
	50% { box-shadow: 0 0 60px var(--consular); }
	to { box-shadow: 0 0 20px var(--consular); }
}

@keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-moz-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-webkit-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-o-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}
@-ms-keyframes sentinel {
	from { box-shadow: 0 0 20px var(--sentinel); }
	50% { box-shadow: 0 0 60px var(--sentinel); }
	to { box-shadow: 0 0 20px var(--sentinel); }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body,
    footer {
        font-size: 14px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 16px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 50px;
    }
    #far-far-away {
        font-size: 250%;
    }
    #board {
        width: 80%;
    }
    #board p {
        font-size: 40px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body, 
    footer {
        font-size: 16px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 60px;
    }
    #far-far-away {
        font-size: 300%;
    }
    #board {
        width: 60%;
    }
    #board p {
        font-size: 40px;
    }
}