@font-face {
    font-family: starjedi;
    src: url("../font/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: starjout;
    src: url("../font/Starjout.f72f509a.ttf");
}

@font-face {
    font-family: biko;
    src: url("../font/Biko_Regular.7cf27339.otf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #000;
    background-image: url("../images/stars.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: biko, Arial, Helvetica, sans-serif;
}

.main {
    min-height: 80vh;
    margin-top: 40px;
}

h1 {
    color: #FFDE00;
    font-family: starjout;
    margin: 40px;
    text-transform: lowercase;
}

h2 {
    margin: 2vw;
}

h2, strong {
    text-align: center;
    color: #FFDE00;
    font-family: starjedi;
}

a {
    color: #FFDE00;
    font-family: starjedi;
}

.main a {
    font-size: 0.8rem;
    font-weight: 300;
    transition: color .3s;
}

.main a:hover{
    color:#ffd64f;
}

samp,
em {
    color: #fff;
    font-size: 0.9em;
}

blockquote {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1vw;
    margin: 1rem auto;
}

code {
    padding: 0.2vh 1vw;
    color: #ffd64f;
    background-color: rgba(255, 255, 255, 0.3);
}

code.block {
    margin: 1rem auto;
    display: block;
}


/* button {
    background-color: #f99797;
    color: #000;
    font-family: starjedi;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active,
button:disabled {
    background-color: #f0eab8;
}

button:disabled {
    font-style: italic;
}
 */
.stronger {
    font-size: 1.2em;
    font-weight: bold;
}

footer,
header {
    background-color: #FFDE00;
    padding: 5px 20px;
    color: #000;
    text-align: center;
}

header .dropdown-menu {
    background-color: #000;
}

header .dropdown-item {
    color: #FFDE00;
}

footer {
    bottom: 0;
    text-align: center;
    font-size: 12px;
    font-family: starjedi;
    color: #000;
}

form label {
    color: #FFDE00;
    font-family: starjedi;
}

.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
    margin: 0 40px;
}

.picture {
    background-color:black;
    border: 4px solid #FFDE00;
    color: #FFDE00 !important;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.picture-src {
    width: 100%;
    height: 100%;
}

.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.invalid-feedback{
    display:block;
}

.btn,
.main input,
.main textarea,
.custom-select {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-top: 1px solid #FFDE00;
    border-bottom: 1px solid #FFDE00;
    background-color: transparent;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.main input[type="submit"] {
    text-transform: lowercase;
    font-family: starjedi;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}


.jedi {
    color: #3784d6 !important;
    border-color: #3784d6 !important;
}
.jedi:hover {
    color: #000 !important;
    background-color: #3784d6 !important;
    animation: jedi 2s infinite;
    -moz-animation: jedi 2s infinite;
    -webkit-animation: jedi 2s infinite;
    -o-animation: jedi 2s infinite;
    -ms-animation: jedi 2s infinite;
}

.sith {
    color: #e51115 !important;
    border-color: #e51115 !important;
}
.sith:hover {
    color: #000 !important;
    background-color: #e51115 !important;
    animation: sith 2s infinite;
    -moz-animation: sith 2s infinite;
    -webkit-animation: sith 2s infinite;
    -o-animation: sith 2s infinite;
    -ms-animation: sith 2s infinite;
}

.consular {
    color: #87dc5a !important;
    border-color: #87dc5a !important;
}
.consular:hover {
    color: #000 !important;
    background-color: #87dc5a !important;
    animation: consular 2s infinite;
    -moz-animation: consular 2s infinite;
    -webkit-animation: consular 2s infinite;
    -o-animation: consular 2s infinite;
    -ms-animation: consular 2s infinite;
}

.sentinel {
    color: #fff !important;
    border-color: #FFDE00 !important;
}
.sentinel:hover {
    color: #000 !important;
    background-color: #FFDE00 !important;
    animation: sentinel 2s infinite;
    -moz-animation: sentinel 2s infinite;
    -webkit-animation: sentinel 2s infinite;
    -o-animation: sentinel 2s infinite;
    -ms-animation: sentinel 2s infinite;
}

/* Animations */
@keyframes jedi {
	from { box-shadow: 0 0 20px #3784d6; }
	50% { box-shadow: 0 0 60px #3784d6; }
	to { box-shadow: 0 0 20px #3784d6; }
}
@-moz-keyframes jedi {
	from { box-shadow: 0 0 20px #3784d6; }
	50% { box-shadow: 0 0 60px #3784d6; }
	to { box-shadow: 0 0 20px #3784d6; }
}
@-webkit-keyframes jedi {
	from { box-shadow: 0 0 20px #3784d6; }
	50% { box-shadow: 0 0 60px #3784d6; }
	to { box-shadow: 0 0 20px #3784d6; }
}
@-o-keyframes jedi {
	from { box-shadow: 0 0 20px #3784d6; }
	50% { box-shadow: 0 0 60px #3784d6; }
	to { box-shadow: 0 0 20px #3784d6; }
}
@-ms-keyframes jedi {
	from { box-shadow: 0 0 20px #3784d6; }
	50% { box-shadow: 0 0 60px #3784d6; }
	to { box-shadow: 0 0 20px #3784d6; }
}

@keyframes sith {
	from { box-shadow: 0 0 20px #e51115; }
	50% { box-shadow: 0 0 60px #e51115; }
	to { box-shadow: 0 0 20px #e51115; }
}
@-moz-keyframes sith {
	from { box-shadow: 0 0 20px #e51115; }
	50% { box-shadow: 0 0 60px #e51115; }
	to { box-shadow: 0 0 20px #e51115; }
}
@-webkit-keyframes sith {
	from { box-shadow: 0 0 20px #e51115; }
	50% { box-shadow: 0 0 60px #e51115; }
	to { box-shadow: 0 0 20px #e51115; }
}
@-o-keyframes sith {
	from { box-shadow: 0 0 20px #e51115; }
	50% { box-shadow: 0 0 60px #e51115; }
	to { box-shadow: 0 0 20px #e51115; }
}
@-ms-keyframes sith {
	from { box-shadow: 0 0 20px #e51115; }
	50% { box-shadow: 0 0 60px #e51115; }
	to { box-shadow: 0 0 20px #e51115; }
}

@keyframes consular {
	from { box-shadow: 0 0 20px #7EC855; }
	50% { box-shadow: 0 0 60px #7EC855; }
	to { box-shadow: 0 0 20px #7EC855; }
}
@-moz-keyframes consular {
	from { box-shadow: 0 0 20px #7EC855; }
	50% { box-shadow: 0 0 60px #7EC855; }
	to { box-shadow: 0 0 20px #7EC855; }
}
@-webkit-keyframes consular {
	from { box-shadow: 0 0 20px #7EC855; }
	50% { box-shadow: 0 0 60px #7EC855; }
	to { box-shadow: 0 0 20px #7EC855; }
}
@-o-keyframes consular {
	from { box-shadow: 0 0 20px #7EC855; }
	50% { box-shadow: 0 0 60px #7EC855; }
	to { box-shadow: 0 0 20px #7EC855; }
}
@-ms-keyframes consular {
	from { box-shadow: 0 0 20px #7EC855; }
	50% { box-shadow: 0 0 60px #7EC855; }
	to { box-shadow: 0 0 20px #7EC855; }
}

@keyframes sentinel {
	from { box-shadow: 0 0 20px #FFF205; }
	50% { box-shadow: 0 0 60px #FFF205; }
	to { box-shadow: 0 0 20px #FFF205; }
}
@-moz-keyframes sentinel {
	from { box-shadow: 0 0 20px #FFF205; }
	50% { box-shadow: 0 0 60px #FFF205; }
	to { box-shadow: 0 0 20px #FFF205; }
}
@-webkit-keyframes sentinel {
	from { box-shadow: 0 0 20px #FFF205; }
	50% { box-shadow: 0 0 60px #FFF205; }
	to { box-shadow: 0 0 20px #FFF205; }
}
@-o-keyframes sentinel {
	from { box-shadow: 0 0 20px #FFF205; }
	50% { box-shadow: 0 0 60px #FFF205; }
	to { box-shadow: 0 0 20px #FFF205; }
}
@-ms-keyframes sentinel {
	from { box-shadow: 0 0 20px #FFF205; }
	50% { box-shadow: 0 0 60px #FFF205; }
	to { box-shadow: 0 0 20px #FFF205; }
}

/* cards list */
.card-view {
    perspective: 1000px;
}

  .card-view img {
    width: 280px;
    height: 240px;
    background: #FFDE00;
}

.card-view a {
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(70deg);
    -moz-transform: rotateX(70deg);
    -ms-transform: rotateX(70deg);
    -o-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.card-view a:hover {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}

.card-view a:hover::before {
    height: 65px;
    visibility: visible;
}

.card-view a::before {
    position: absolute;
    top: auto;
    bottom: -65px;
    display: inline-block;
    height: 0;
    width: 100%;
    visibility: hidden;
    background: Radial-gradient(closest-side, rgba(0, 0, 0, 0.59), transparent);
    background: Radial-gradient(closest-side,rgba(0, 0, 0, 0.75),50%,transparent);
    filter: blur(18px);
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
    -moz-transform: scaleY(0.3);
    -ms-transform: scaleY(0.3);
    -o-transform: scaleY(0.3);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    content: "";
}

.card-view a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
    content: "";
}

.card-view h5 {
    font-family: biko, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000 !important;
    background-color: rgba(255, 222, 0, 0.5) !important;
    padding: 5px;
}


.main .form-control {
    border-radius: 0;
}

.main .form-control:focus,
.main input:focus,
.main textarea:focus {
    color: #87CEEB;
    background-color: transparent;
    padding: 5px 0 5px 10px;
    outline: none;
    border-top: 1px solid #87CEEB;
    border-bottom: 1px solid #87CEEB;
    box-shadow: none;
}

.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    width: 100%;
}

.main ul.list li {
    width: 33%;
    text-align: center;
}


.main ul.list li a {
   font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}


.main ul li a {
    font-family: biko;
}

.main ul li span:last-child {
    margin-left: 10px;
    color: #e71919;
}

.main li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.main ol li {
    margin: 8px auto 12px;
    color: #FFDE00;
    border-bottom: 1px solid #ffd64f;
    font-size: 1.04rem;
}

li.bonus {
  display: none;
}

.main nav {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .detail {
    padding: 2vw 1vw 1vw;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFDE00;
    font-size: 1.05rem;
    margin-bottom: 40px;
}

.title {
    color: #000;
    background-color: #FFDE00;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.wrapper-data .title,
.wrapper-data p {
    padding: 0 20px;
}

.main .row-btn {
    margin-bottom: 40px;
}

.main .detail-row {
    display: flex;
    padding: 10px 0;
}

.main .detail-name {
    background-color: rgba(255, 255, 255, 0.1);
}

nav.row {
    background-color: #000;
    padding: 8px;
}

/* Navbar */
.navbar {
    background-color: #FFDE00;
}

.navbar-brand img {
    background: #000;
    border-radius: 5px;
}

.navbar-brand span {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
    padding:10px;
    margin: 0 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFDE00;
    background-color: #000;
}

/* Home */
#universe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#far-far-away {
    position: absolute;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
    top: 40%;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#universe .logo-star-wars {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 40%;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

  @keyframes logo {
    0% {
        width: 18em;
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

#board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
#board-content {
    animation: scroll 150s linear infinite 16s;
    position: absolute;
    top: 100%;
}

#board .episode, #board .subtitle {
    text-align:center;
}

#board .episode {
    margin-top: 200px;
}

#board .subtitle {
    margin-bottom: 75px;
}

#board p {
    color: #FFDE00;
    margin-bottom: 50px;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
