@font-face {
    font-family: starjedi;
    src: url("../font/Starjedi.cc3019aa.ttf");
}

@font-face {
    font-family: starjout;
    src: url("../font/Starjout.f72f509a.ttf");
}

@font-face {
    font-family: biko;
    src: url("../font/Biko_Regular.7cf27339.otf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1px;
    background-color: #000;
    background-image: url("../images/stars.6494ab5b.png") no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: biko, Arial, Helvetica, sans-serif;
}

.main {
    min-height: 80vh;
    margin-top: 40px;
}

h1 {
    color: #FFDE00;
    font-family: starjout;
    margin: 40px;
    text-transform: lowercase;
}

h2 {
    margin: 2vw;
}

h2, strong {
    text-align: center;
    color: #FFDE00;
    font-family: starjedi;
}

a {
    color: #FFDE00;
    font-family: starjedi;
}

.main a {
    font-size: 0.8rem;
    font-weight: 300;
    transition: color .3s;
}

.main a:hover{
    color:#ffd64f;
}

samp,
em {
    color: #fff;
    font-size: 0.9em;
}

blockquote {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1vw;
    margin: 1rem auto;
}

code {
    padding: 0.2vh 1vw;
    color: #ffd64f;
    background-color: rgba(255, 255, 255, 0.3);
}

code.block {
    margin: 1rem auto;
    display: block;
}


/* button {
    background-color: #f99797;
    color: #000;
    font-family: starjedi;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active,
button:disabled {
    background-color: #f0eab8;
}

button:disabled {
    font-style: italic;
}
 */
.stronger {
    font-size: 1.2em;
    font-weight: bold;
}

footer,
header {
    background-color: #FFDE00;
    padding: 5px 20px;
    color: #000;
    text-align: center;
}

header .dropdown-menu {
    background-color: #000;
}

header .dropdown-item {
    color: #FFDE00;
}

footer {
    bottom: 0;
    text-align: center;
    font-size: 12px;
    font-family: starjedi;
    color: #000;
}

form label {
    color: #FFDE00;
    font-family: starjedi;
}

.btn,
.main input,
.main textarea,
.custom-select {
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-top: 1px solid #FFDE00;
    border-bottom: 1px solid #FFDE00;
    background-color: transparent;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,
.main input[type="submit"] {
    text-transform: lowercase;
    font-family: starjedi;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
}

.main .form-control {
    border-radius: 0;
}

.main .form-control:focus,
.main input:focus,
.main textarea:focus {
    color: #87CEEB;
    background-color: transparent;
    padding: 5px 0 5px 10px;
    outline: none;
    border-top: 1px solid #87CEEB;
    border-bottom: 1px solid #87CEEB;
    box-shadow: none;
}

.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    width: 100%;
}

.main ul.list li {
    width: 33%;
    text-align: center;
}


.main ul.list li a {
   font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}


.main ul li a {
    font-family: biko;
}

.main ul li span:last-child {
    margin-left: 10px;
    color: #e71919;
}

.main li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.main ol li {
    margin: 8px auto 12px;
    color: #FFDE00;
    border-bottom: 1px solid #ffd64f;
    font-size: 1.04rem;
}

li.bonus {
  display: none;
}

.main nav {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .detail {
    padding: 2vw 1vw 1vw;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFDE00;
    font-size: 1.05rem;
    margin-bottom: 40px;
}

.title {
    color: #000;
    background-color: #FFDE00;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.figure-data .title,
.figure-data p {
    padding: 0 20px;
}

.main .row-btn {
    margin-bottom: 40px;
}

.main .detail-row {
    display: flex;
    padding: 10px 0;
}

.main .detail-name {
    background-color: rgba(255, 255, 255, 0.1);
}

nav.row {
    background-color: #000;
    padding: 8px;
}

.jedi {
    color: #9AC3DC !important;
    border-color: #0A6794 !important;
}
.jedi:hover {
    color: #000 !important;
    background-color: #0A6794 !important;
}

.sith {
    color: #DB8468 !important;
    border-color: #DF100A !important;
}
.sith:hover {
    color: #000 !important;
    background-color: #DF100A !important;
}

.consular {
    color: #81C47D !important;
    border-color: #258c1d !important;
}
.consular:hover {
    color: #000 !important;
    background-color: #258c1d !important;
}

.sentinel {
    color: #fff !important;
    border-color: #FFDE00 !important;
}
.sentinel:hover {
    color: #000 !important;
    background-color: #FFDE00 !important;
}

/* Navbar */
.navbar {
    background-color: #FFDE00;
}

.navbar-brand img {
    background: #000;
    border-radius: 5px;
}

.navbar-brand span {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    font-size: 20px;
    padding:10px;
    margin: 0 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFDE00;
    background-color: #000;
}

/* Home */
#universe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#far-far-away {
    position: absolute;
    z-index: 1;
    animation: intro 6s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
    top: 40%;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#universe .logo-star-wars {
    position: absolute;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 40%;
    animation: logo 9s ease-out 9s;
    opacity: 0;
}

  @keyframes logo {
    0% {
        width: 18em;
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

#board {
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 50% 100%;
    text-align: justify;
    position: absolute;
    margin-left: -9em;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 18em;
    bottom: 0;
    left: 50%;
}

#board:after {
    position: absolute;
    content: ' ';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

/* Set the scrolling animation and position it */
#board-content {
    animation: scroll 150s linear infinite 16s;
    position: absolute;
    top: 100%;
}

#board .episode, #board .subtitle {
    text-align:center;
}

#board .episode {
    margin-top: 200px;
}

#board .subtitle {
    margin-bottom: 75px;
}

#board p {
    color: #FFDE00;
    margin-bottom: 50px;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
