{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">les films</h1>
    </div>
    <nav class="row">
        <a class="button" href="/movie/add">ajouter un film</a>
    </nav>
    <div class="row detail">
        <ul class="list">
            {% for movie in movies %}
                <li><a href="/movie/details/{{ movie.id }}">{{ movie.title }}</a></li>
            {% else %}
                <li>Rien à voir</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
