{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">ajouter une nouvelle faction</h1>
    </div>
    <div class="row">
        <div class="col-12">
            {% include 'Faction/_form.html.twig' %}
        </div>
    </div>
    <div class="row">
        <a href="/faction/list">retour</a>
    </div>
{% endblock %}
