{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">{{faction.name}} </h1>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/faction/delete/{{faction.id}}" class="float-right btn row-btn sith">Supprimer</a>
        </div>
    </div>
    <div class="row detail">
        <figure class="col-12 col-md-4 offset-md-4">
            <img src="{{faction.picture}}" class="img-fluid"/>
        </figure>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/faction/edit/{{faction.id}}" class="float-right btn jedi">Mettre à jour</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="/faction/list" class="float-left btn row-btn sentinel" >Retour</a>
        </div>
    </div>
{% endblock %}
