{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
  <h1 class="col-12">mise à jour : {{faction.name}}</h1>
</div>
<div class="row">
  <form class="col-12" method="post">
    <input type="submit" name="delete" value="supprimer" class="float-right sith">
  </form>
</div>
<div class="row">
  <div class="col-12">
    {% include 'Faction/_form.html.twig' %}
  </div>
</div>
<div class="row">
  <a href="/faction/list">Retour</a>
</div>
{% endblock %}
