{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">les faction</h1>
    </div>
    <nav class="row">
        <a class="button" href="/faction/add">ajouter une faction</a>
    </nav>
    <div class="row detail">
        <ul class="list">
            {% for faction in factions %}
                <li><a href="/faction/edit/{{faction.id}}">{{faction.id}}. {{ faction.name }}</a></li>
            {% else %}
                <li>Rien à voir</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
