{% extends 'layout.html.twig' %}

{% block title %}Star Wars - Mise à Jour {{figure.name}}{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-12">mise à jour : <br>{{figure.name}}</h1>
  </div>
  <div class="row">
    <div class="col-12">
      {% include 'Figure/_form.html.twig' %}
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <a href="/figure/list" class="float-left btn sentinel row-btn" >Retour</a>
      </div>
  </div>
{% endblock %}
