{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-12">les personnages</h1>
    </div>
    <nav class="row">
        <a href="/figure/add" class="btn sentinel" >ajouter un personnage</a>
    </nav>
    <div class="row detail">
        <ul class="list">
            {% for figure in figures %}
                <li><a href="/figure/details/{{figure.id}}">{{figure.id}}. {{ figure.name }}</a></li>
            {% else %}
                <li>Rien à voir</li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}
